<!DOCTYPE html>
<html ng-app="loginModule">
<head>
    <meta charset="UTF-8">
    <title>Odontología</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="appWeb/public/CSS/style.css">
    <link rel="stylesheet" href="lib/pnotify/pnotify.custom.min.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link href="assets/css/themes/theme-blue.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/mediaQueries.css">

   <!-- <script type="text/javascript" src="alertify/alertify.js"></script>
    <script type="text/javascript" src="alertify/alertify.min.js"></script>-->
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</head>
<body id="loginBody" ng-controller="loginController">
<div class="acomodar">
    <img  width="250px" top="110px" src="appWeb/public/images/tec.png"/>
</div>
<div class="thumbnail">

    <div class="login-page">
        <div>
            <h2 id="fuente">OdontologíaTEC</h2>
        </div>
        <div class="form">
            <form class="register-form">
                <input type="text" placeholder="name"/>
                <input   type="password" placeholder="password"/>
                <input type="text"   placeholder="email address"/>
                <button >create</button>
                <p class="message">Already registered? <a href="#">Sign In</a></p>
            </form>
            <form class="login-form">
                <input type="text" id="email" name="email" placeholder="username"/>
                <input type="password" id="pass" name="pass" placeholder="password"/>
                <button ng-click="log()">login</button>
                <p class="message">Not registered? <a href="#">Create an account</a></p>
            </form>
        </div>
    </div>
</div>
    <script src="shared/common.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="alertify/alertify.js"></script>
    <script type="text/javascript" src="alertify/alertify.min.js"></script>
    <script type="text/javascript" src="lib/AngularJS/angular-base64.min.js"></script>
    <script type="text/javascript" src="GlobalVars.js"></script>
    <script src="loginController.js"></script>
    <script type="text/javascript" src="appWeb/comun/notificaciones.js"></script>
</body>
</html>