<div class="container-fluid">.
    <link rel='stylesheet' type='text/css' href='../lib/libs/css/smoothness/jquery-ui-1.8.11.custom.css' />
    <link rel='stylesheet' type='text/css' href='../lib/Calendar/jquery.weekcalendar.css' />
    <script type='text/javascript' src='../lib/libs/jquery-1.4.4.min.js'></script>
    <script type='text/javascript' src='../lib/libs/jquery-ui-1.8.11.custom.min.js'></script>
    <script type='text/javascript' src='../lib/libs/date.js'></script>
    <script src="../alertify/alertify.min.js"></script>
    <link rel="stylesheet" href="../alertify/css/alertify.css" />
    <link rel="stylesheet" href="../alertify/css/themes/default.min.css" />
    <script type='text/javascript' src='ConfigCitas/DB/db.js/'></script>
    <script type='text/javascript' src='ConfigCitas/configurations/config.js/'></script>
    <script type='text/javascript' src='../lib/Calendar/jquery.weekcalendarConfig.js'></script>
    <div class="ngdialog-content" id="dialog" title="Detalle Cita"></div>
    <div id="calendar"></div>
</div>