<div id="alertError"  class="alertErr">
    <span class="closebtn" onclick="this.parentElement.style.display='none';"></span>
    <strong style="color:white;" id="text1">¡ Error ! Algo no está bien</strong>.
</div>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script>
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>

<!--<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="crossorigin="anonymous"></script>-->

<div id="alertExito"  class="alertEx">
    <span class="closebtn" onclick="this.parentElement.style.display='none';"></span>
    <strong style="color:white;" id="text2">¡ Exito ! Proceso satisfactorio</strong>.
</div>
<div class="container-fluid">
    <button style='float: right; background-color: #0A1C50; color: whitesmoke' id="button"
            onclick="guardarBD()">Guardar</button>
    <h1 align="center">Gráficas Dentales</h1>
    <meta charset="utf-8" />
    <style>
        #myCanvas {
            border: 1px solid #9C9898;
        }
        #myCanvas2 {
            border: 1px solid #9C9898;
        }
        #myCanvas3 {
            border: 1px solid #9C9898;
        }
        #myCanvas4 {
            border: 1px solid #9C9898;
        }
        body,th,td,tr{
            text-align: center;
        }
        .alertEx{
            background: darkblue;
            height:50px;
        }
        .alertErr{
            background:red;
            height: 50px;
        }
        .strong{
            text-decoration: white;
        }
    </style>
    <style  type="text/css">
        div, a, a:hover {cursor:  url('cur438.cur'),  progress;}
    </style>
    <!--<script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>-->
    <script>
        config.consultaDatos=0; // siempre que se haga un onchange, se debe inicilizar esta variable en cero
        $('#alertError').css('display', 'none');
        $('#alertExito').css('display', 'none');
        $(function() {
            $( "#radio" ).buttonset();
            $( "#radio_seccion" ).buttonset();
            $('#radio').change(function () {
                accion = $("input[name='accion']:checked").val();
                if(accion=='borrar'){
                    $("#radio_seccion").show( 'blind', 500 );
                }else{
                    $("#radio_seccion").hide( );
                }
            });
        });

        /*
        *
        */
        function showHideCollapse(){

            if(config.consultaDatos!=1){
                $('#h1_button').text("¡ Error ! No se ha cargado la información");

                $("#SC_Collapse").css("background-color", "red");

                $.ajax({
                    success:
                        function OnGetMemberSuccess(data) {
                            setTimeout(function(){
                                $('#h1_button').text("Tratamientos Realizados(Mostrar)");

                                $("#SC_Collapse").css("background-color", "#0A1C50");

                               // $('#SC_Collapse').removeClass("btn btn-danger").addClass("btn btn-primary");
                            }, 3000);

                        },
                    error: function OnGetMemberSuccess(data, status) {
                        return false;
                    }
                });
            }
            else{
                if($('#h1_button').text()=="Tratamientos Realizados(Mostrar)"){
                    $('#h1_button').text("Tratamientos Realizados(Ocultar)");
                    $("#PTInfo").css("display", "block");
                }
                else{
                    $('#h1_button').text("Tratamientos Realizados(Mostrar)");
                    $("#PTInfo").css("display", "none");
                }
            }
        }


    </script>
    <div>
        <div style=" margin-left: 100px; margin-top: 70px">
            <input id="txt_extcarne" style="font-size: 25px; float: left" type="text" name="LastName">
            <button style='font-size: 20px; float: left; background-color: #0A1C50; color: whitesmoke' id="button2"
                    onclick="pinta_datos_BD2()">Cargar</button>
            <button style='font-size: 20px; float: left; background-color: #0A1C50; color: whitesmoke' id="viewFirstOdontogram"
                    onclick="viewFirstOdontogram()">Primer odontograma</button>
            <br><br><br>
            <button style=" float: left; clear: both;background-color: #0A1C50; color: whitesmoke" type="button" data-toggle="modal" data-target="#myModal">Detalle</button>
            <div style="float: left; padding: 0;" id="radio">
                <input type="radio" id="radio1" name="accion" value="carie" checked="checked" /><label for="radio1">Carie</label>
                <input type="radio" id="radio2" name="accion" value="amalgama" /><label for="radio2">Amalgama</label>
                <input type="radio" id="radio7" name="accion" value="resina" /><label for="radio7">Resina</label>
                <input type="radio" id="radio4" name="accion" value="ausente" /><label for="radio4">Ausente</label>
                <input type="radio" id="radio6" name="accion" value="extraccion" /><label for="radio6">Extraer</label>
                <input type="radio" id="radio3" name="accion" value="borrar" /><label for="radio3">Borrar</label>
            </div>
            <br>
            <div id="canvasesdiv" style=" position:relative; width:810px; height:300px; clear: both;">
                <canvas id="myCanvas" width="810" height="300" style="z-index: 1; position:absolute; ng-model:canvas; left:0px; top:0px;"></canvas>
                <canvas id="myCanvas2" width="810" height="300" style="z-index: 2; position:absolute; left:0px; top:0px;"></canvas>
                <canvas id="myCanvas3" width="810" height="300" style="z-index: 3; position:absolute; left:0px; top:0px;"></canvas>
                <canvas id="myCanvas4" width="810" height="300" style="z-index: 4; position:absolute; left:0px; top:0px;"></canvas>
            </div>
            <br/>
            <div id="radio_seccion" style='display:none;'>
                <input type="radio" id="radio_1" name="seccion" value="seccion" /><label for="radio_1">Seccion</label>
                <input type="radio" id="radio_2" name="seccion" value="diente" /><label for="radio_2">Diente</label>
            </div>
        </div>
        <div id="tratamientosdiv" style="padding-top: 250px">
            <p>
                <button id="SC_Collapse" style="background-color: #0A1C50; color: whitesmoke" onclick="showHideCollapse()">
                    <h4 id="h1_button">Tratamientos Realizados(Mostrar)</h4>
                </button>
            </p>
            <div id="PTInfo" style="display:none;" class="card card-body"></div>
        <div class="modal fade modal-margin" id="myModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <form class="modal-content"  >
                    <div class="modal-header bagTecBlue">
                        <h4 class=" whiteText" id="defaultModalLabel">Detalle de Tratamiento</h4>
                    </div>
                    <div class="modal-body" >
                        <div class="modal-body" >
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <textarea   class="form-control" rows="5" id="comment"></textarea>
                            </div>
                        </div>
                        <select id="seleccion" class="selectpicker">
                            <option>Sin Especificar</option>
                            <option ng-repeat="trata in tratamientos">{{trata.tratamiento}}</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal" onclick="guardarTratamiento()">Guardar</button>
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal fade modal-margin" id="showModalDtail" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <form class="modal-content"  >
                    <div class="modal-header bagTecBlue">
                        <h4 class=" whiteText">Detalle</h4>
                    </div>
                    <div class="modal-body" >
                        <div class="modal-body" >
                        </div>
                        <div class="form-group">
                            <div class="form-line">
                                <textarea   class="form-control" rows="5" id="comentarioX"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
        <script>


       /*
       * Extrae el tratamiento seleccionado en la lista de tratamientos
       * Extrae la descripcion que se brinda acerca del tratamiento realizado
       * Se guarda en la lista de detalles para después insertarla en la BD
       */
       function guardarTratamiento() {
           var comentario = document.getElementById("comment").value;
           document.getElementById("comment").value = "";
           var tratamiento = document.getElementById("seleccion").value;
           document.getElementById("seleccion").selectedIndex = "0";
           if(comentario!="" || tratamiento!="Sin Especificar"){
               if(comentario=="") {
                   comentario = "Sin comentario."
               }
               var detalle = new Detalle(comentario,tratamiento,config.idDiente,config.bandera,config.seccion);
               listaDetalles.push(detalle);
           }
        }

        // Funcion para dibujar las lineas de cada diente con canvas
       function dibuja_contorno(context, inicio_x, inicio_y, med, separacion_x, separacion_y){
            var ctx = context;
            // Definiendo puntos de dibujo
            cua = med/4;
            ter = cua*3;
            /* 1ra zona */
            if(ctx){
                ctx.strokeStyle = color_line;
                ctx.beginPath();
                ctx.moveTo(inicio_x,inicio_y);
                ctx.lineTo(med+inicio_x,inicio_y);
                ctx.lineTo(ter+inicio_x,cua+inicio_y);
                ctx.lineTo(cua+inicio_x,cua+inicio_y);
                ctx.closePath();
                ctx.stroke();
            }
            /* 2da zona */
            if(ctx){
                ctx.strokeStyle = color_line;
                ctx.beginPath();
                ctx.moveTo(ter+inicio_x,cua+inicio_y);
                ctx.lineTo(med+inicio_x,inicio_y);
                ctx.lineTo(med+inicio_x,med+inicio_y);
                ctx.lineTo(ter+inicio_x,ter+inicio_y);
                ctx.closePath();
                ctx.stroke();
            }
            /* 3ra zona */
            if(ctx){
                ctx.strokeStyle = color_line;
                ctx.beginPath();
                ctx.moveTo(cua+inicio_x,ter+inicio_y);
                ctx.lineTo(ter+inicio_x,ter+inicio_y);
                ctx.lineTo(med+inicio_x,med+inicio_y);
                ctx.lineTo(inicio_x,med+inicio_y);
                ctx.closePath();
                ctx.stroke();
            }
            /* 4ta zona */
            if(ctx){
                ctx.strokeStyle = color_line;
                ctx.beginPath();
                ctx.moveTo(inicio_x,inicio_y);
                ctx.lineTo(cua+inicio_x,cua+inicio_y);
                ctx.lineTo(cua+inicio_x,ter+inicio_y);
                ctx.lineTo(inicio_x,med+inicio_y);
                ctx.closePath();
                ctx.stroke();
            }
        }

        /* Funcion para pintar una region del diente
        *  Sea
        *  Carie: rojo : 2
        *  Amalgama: azul : 3
        *  Resina : verde : 4
        *
        */
       function dibuja_seccion(contexto, num_diente, seccion, color_pas){
            var ctx = contexto;
            config.bandera=0;
            config.idDiente=diente;
            config.seccion=seccion;
            /*Para efectos de guardar el diente, se selcciona la accion a realizar */
            if(seleccion == 'carie'){

                numero = 2;
            }
            else if(seleccion == 'amalgama'){

                numero= 3;
            }
            else if(seleccion=='resina'){

                numero = 4;
            }
            // Definiendo puntos de dibujo
            med = medida;
            cua = med/4;
            ter = cua*3;
            num_diente = num_diente - 1;
            color_line = color_pas;
            if (num_diente<16)
                inicio_y = 20;

            else{
                num_diente = num_diente - 16;
                inicio_y = med + 100;
            }
            inicio_x = (num_diente*med) + (separacion_x*num_diente) + separacion_x;
            /* 1ra zona */
            if (seccion==1){
                for( var id in listaDientes) {
                    if (listaDientes[id].idDiente == diente) listaDientes[id].zona1 = numero;
                }
                if(ctx){
                    ctx.fillStyle = color_line;
                    ctx.beginPath();
                    ctx.moveTo(inicio_x,inicio_y);
                    ctx.lineTo(med+inicio_x,inicio_y);
                    ctx.lineTo(ter+inicio_x,cua+inicio_y);
                    ctx.lineTo(cua+inicio_x,cua+inicio_y);
                    ctx.closePath();
                    ctx.fill();
                    ctx.strokeStyle = 'black';
                    ctx.stroke();
                }
            }
            /* 2da zona */
            if (seccion==2){
                for( var i in listaDientes) {
                    if (listaDientes[i].idDiente.equals(diente)) listaDientes[i].zona2 = numero;

                }
                if(ctx){
                    ctx.fillStyle = color_line;
                    ctx.beginPath();
                    ctx.moveTo(ter+inicio_x,cua+inicio_y);
                    ctx.lineTo(med+inicio_x,inicio_y);
                    ctx.lineTo(med+inicio_x,med+inicio_y);
                    ctx.lineTo(ter+inicio_x,ter+inicio_y);
                    ctx.closePath();
                    ctx.fill();
                    ctx.strokeStyle = 'black';
                    ctx.stroke();
                }
            }
            /* 3ra zona */
            if (seccion===3){
                for( var i in listaDientes) {
                    if (listaDientes[i].idDiente == diente) listaDientes[i].zona3 = numero;

                }
                if(ctx){
                    ctx.fillStyle = color_line;
                    ctx.beginPath();
                    ctx.moveTo(cua+inicio_x,ter+inicio_y);
                    ctx.lineTo(ter+inicio_x,ter+inicio_y);
                    ctx.lineTo(med+inicio_x,med+inicio_y);
                    ctx.lineTo(inicio_x,med+inicio_y);
                    ctx.closePath();
                    ctx.fill();
                    ctx.strokeStyle = 'black';
                    ctx.stroke();
                }
            }
            /* 4ta zona */
            if (seccion==4){
                for( var id in listaDientes) {
                    if (listaDientes[id].idDiente == diente) listaDientes[id].zona4 = numero;

                }
                if(ctx){
                    ctx.fillStyle = color_line;
                    ctx.beginPath();
                    ctx.moveTo(inicio_x,inicio_y);
                    ctx.lineTo(cua+inicio_x,cua+inicio_y);
                    ctx.lineTo(cua+inicio_x,ter+inicio_y);
                    ctx.lineTo(inicio_x,med+inicio_y);
                    ctx.closePath();
                    ctx.fill();
                    ctx.strokeStyle = 'black';
                    ctx.stroke();
                }
            }
            /* 5ta zona(medio) */
            if (seccion==5){
                for( var id in listaDientes) {
                    if (listaDientes[id].idDiente == diente) listaDientes[id].zona5 = numero;

                }
                if(ctx){
                    ctx.fillStyle = color_line;
                    ctx.beginPath();
                    ctx.moveTo(cua+inicio_x,cua+inicio_y);
                    ctx.lineTo(ter+inicio_x,cua+inicio_y);
                    ctx.lineTo(ter+inicio_x,ter+inicio_y);
                    ctx.lineTo(cua+inicio_x,ter+inicio_y);
                    ctx.closePath();
                    ctx.fill();
                    ctx.strokeStyle = 'black';
                    ctx.stroke();
                }
            }
       }

        /*
        * Los dientes están del 1 al 32 en la parte lógica
        * y esta función la pasa del 18 al 48
        */
       function convertirDiente(value){
            var newValue=0;
            if(value>=1 && value<=8)
                newValue= -1*value + 19 ;
            else if (value>=9 && value <=16 )
                newValue= value + 12 ;
            else if(value>=17 && value<=24)
                newValue= -1*value + 55 ;
            else if(value>=25&& value<=32)
                newValue= value + 16 ;
            return newValue;
        }

        /* Funcion para sombrear las secciones
           cuando el maouse está sobre ellas.
         */
       function marcar_seccion(contexto, num_diente, seccion, color_pas){
            var ctx = contexto;
            // Definiendo puntos de dibujo
            med = medida;
            cua = med/4;
            ter = cua*3;
            num_diente = num_diente - 1;
            color_line = color_pas;
            if (num_diente<16){
                inicio_y = 20;
            }
            else{
                num_diente = num_diente - 16;
                inicio_y = med + 100;
                //if(num_diente==1){num_diente=0;}
            }
            //alert(num_diente);
            inicio_x = (num_diente*med) + (separacion_x*num_diente) + separacion_x;
            /* 1ra zona */
            if (seccion==1){
                if(ctx){
                    ctx.fillStyle = color_line;
                    ctx.beginPath();
                    ctx.moveTo(inicio_x,inicio_y);
                    ctx.lineTo(med+inicio_x,inicio_y);
                    ctx.lineTo(ter+inicio_x,cua+inicio_y);
                    ctx.lineTo(cua+inicio_x,cua+inicio_y);
                    ctx.closePath();
                    ctx.strokeStyle = 'yellow';
                    ctx.stroke();
                }
            }
            /* 2da zona */
            if (seccion==2){
                if(ctx){
                    ctx.fillStyle = color_line;
                    ctx.beginPath();
                    ctx.moveTo(ter+inicio_x,cua+inicio_y);
                    ctx.lineTo(med+inicio_x,inicio_y);
                    ctx.lineTo(med+inicio_x,med+inicio_y);
                    ctx.lineTo(ter+inicio_x,ter+inicio_y);
                    ctx.closePath();
                    ctx.strokeStyle = 'red';
                    ctx.stroke();
                }
            }
            /* 3ra zona */
            if (seccion==3){
                if(ctx){
                    ctx.fillStyle = color_line;
                    ctx.beginPath();
                    ctx.moveTo(cua+inicio_x,ter+inicio_y);
                    ctx.lineTo(ter+inicio_x,ter+inicio_y);
                    ctx.lineTo(med+inicio_x,med+inicio_y);
                    ctx.lineTo(inicio_x,med+inicio_y);
                    ctx.closePath();
                    //ctx.fill();
                    ctx.strokeStyle = '#00ff00';
                    ctx.stroke();
                }
            }
            /* 4ta zona */
            if (seccion==4){
                if(ctx){
                    ctx.fillStyle = color_line;
                    ctx.beginPath();
                    ctx.moveTo(inicio_x,inicio_y);
                    ctx.lineTo(cua+inicio_x,cua+inicio_y);
                    ctx.lineTo(cua+inicio_x,ter+inicio_y);
                    ctx.lineTo(inicio_x,med+inicio_y);
                    ctx.closePath();
                    //ctx.fill();
                    ctx.strokeStyle = 'black';
                    ctx.stroke();
                }
            }
            /* 5ta zona(medio) */
            if (seccion==5){
                if(ctx){
                    ctx.fillStyle = color_line;
                    ctx.beginPath();
                    ctx.moveTo(cua+inicio_x,cua+inicio_y);
                    ctx.lineTo(ter+inicio_x,cua+inicio_y);
                    ctx.lineTo(ter+inicio_x,ter+inicio_y);
                    ctx.lineTo(cua+inicio_x,ter+inicio_y);
                    ctx.closePath();
                    //ctx.fill();
                    ctx.strokeStyle = '#000099';
                    ctx.stroke();
                }
            }
        }

       /*
       * Parametros
       * action: sea mostrar u ocultar el dialogs
       * panel: exito u error
       * value: a,b,c
       * */
       function dialogs(action,panel,value){// value puede ser a,b,c
           if(action==='ocultar'){

               $('#alertError').css('display', 'none');
               $('#alertExito').css('display', 'none');
           }
           else if (action==='mostrar'){
               if(panel==='exito'){
                   $("#alertExito").text(value);
                   $('#alertExito').css("color", "white");
                   $('#alertExito').css("font-weight", "bold");
                   $('#alertExito').css('display', 'block');
                   $('#alertError').css('display', 'none');
               }
               else{
                   $("#alertError").text(value);
                   $('#alertExito').css('display', 'none');
                   $('#alertError').css("color", "white");
                   $('#alertError').css("font-weight", "bold");
                   $('#alertError').css('display', 'block');
               }
               $.ajax({
                   success:
                       function OnGetMemberSuccess(data) {
                           setTimeout(function(){
                               $('#alertError').css('display', 'none');
                               $('#alertExito').css('display', 'none');
                           }, 4000);

                       },
                   error: function OnGetMemberSuccess(data, status) {
                       return false;
                   }
               });
           }
       }


        // Funcion para sombrear diente completo
       function marcar_diente(contexto, num_diente, color_pas){
            var ctx = contexto;
            // Definiendo puntos de dibujo
            med = medida;
            num_diente = num_diente - 1;
            color_line = color_pas;
            if (num_diente<16){
                inicio_y = 20;
            }
            else{
                num_diente = num_diente - 16;
                inicio_y = med + 100;
            }
            //alert(num_diente);
            inicio_x = (num_diente*med) + (separacion_x*num_diente) + separacion_x;

            ctx.fillStyle = color_line;
            ctx.beginPath();
            ctx.moveTo(inicio_x,inicio_y);
            ctx.lineTo(inicio_x+40,inicio_y);
            ctx.lineTo(inicio_x+40,inicio_y+40);
            ctx.lineTo(inicio_x,inicio_y+40);
            ctx.closePath();
            ctx.strokeStyle = color_line;
            ctx.stroke();
       }

        // Funcion para sombrear diente completo
       function marcar_ausente(contexto, num_diente, color_pas){
            var ctx = contexto;
            // Definiendo puntos de dibujo
            med = medida;
            num_diente = num_diente - 1;
            color_line = color_pas;
            if (num_diente<16){
                inicio_y = 20;
            }
            else{
                num_diente = num_diente - 16;
                inicio_y = med + 100;
            }
            //alert(num_diente);
            inicio_x = (num_diente*med) + (separacion_x*num_diente) + separacion_x;

            ctx.fillStyle = color_line;
            ctx.beginPath();
            ctx.lineWidth = 3;
            ctx.moveTo(inicio_x,inicio_y);
            ctx.lineTo(inicio_x+40,inicio_y+40);
            ctx.moveTo(inicio_x+40,inicio_y);
            ctx.lineTo(inicio_x,inicio_y+40);
            ctx.stroke();
            ctx.lineWidth = 1;

            config.idDiente=diente;
            config.bandera=1;

            for( var id in listaDientes) {
                if (listaDientes[id].idDiente == diente) {
                    listaDientes[id].ausente = 1;
                }
            }

       }

        // Funcion para sombrear diente completo
        function marcar_extraccion(contexto, num_diente, color_pas){
            var ctx = contexto;
            // Definiendo puntos de dibujo
            med = medida;
            num_diente = num_diente - 1;
            color_line = color_pas;
            if (num_diente<16){
                inicio_y = 20;
            }
            else{
                num_diente = num_diente - 16;
                inicio_y = med + 100;
            }
            //alert(num_diente);
            inicio_x = (num_diente*med) + (separacion_x*num_diente) + separacion_x;
            ctx.fillStyle = 'yellow';
            ctx.beginPath();
            ctx.lineWidth = 3;
            ctx.moveTo(inicio_x+40,inicio_y);
            ctx.lineTo(inicio_x,inicio_y+40);
            ctx.stroke();
            ctx.lineWidth = 1;
            config.idDiente=diente;
            config.bandera=1;
            for( var id in listaDientes) {
                if (listaDientes[id].idDiente == diente) {
                    listaDientes[id].extraccion = 1;
                }
            }

        }

        // Funcion para marcar puente
        function marcar_puente(contexto, dient_1, dient_2, color_pas){
            var ctx = contexto;
            // Definiendo puntos de dibujo
            med = medida;
            num_diente1 = dient_1 - 1;
            num_diente2 = dient_2 - 1;
            color_line = color_pas;
            if (num_diente1<16){
                inicio_y = 80;
            }
            else{
                num_diente1 = num_diente1 - 16;
                num_diente2 = num_diente2 - 16;
                inicio_y = med + 160;
            }
            //alert(num_diente);
            inicio_x = (num_diente1*med) + (separacion_x*num_diente1) + separacion_x + (med/2);
            fin_x = (num_diente2*med) + (separacion_x*num_diente2) + separacion_x + (med/2);
            ctx.fillStyle = color_line;
            ctx.beginPath();
            ctx.lineWidth = 4;
            ctx.moveTo(inicio_x,inicio_y);
            ctx.lineTo(fin_x,inicio_y);
            //ctx.moveTo(inicio_x+40,inicio_y);
            //ctx.lineTo(inicio_x,inicio_y+40);
            ctx.stroke();
            ctx.lineWidth = 1;
        }


        // Funcion para marcar puente
        function borrar_diente(contexto, num_diente){
            ctx = contexto;
            // Definiendo puntos de dibujo
            med = medida;
            num_diente = num_diente - 1;
            if (num_diente<16){
                inicio_y = 20;
            }
            else{
                num_diente = num_diente - 16;
                inicio_y = med + 100;
            }
            //alert(num_diente);
            inicio_x = (num_diente*med) + (separacion_x*num_diente) + separacion_x;
            ctx.clearRect(inicio_x, inicio_y, med, med);
        }


        function insertarDientes(idExamen,carne){
            listaDientes=config.saveLista;
            // ciclo que inserta los detalles de los dientes en la BD

            for(var e=0;e<listaDetalles.length;e++){
                var detalle = "http://"+config.ipAdress+"/server-odonto/InsPTratamientos?carne="+ carne +"&tratamiento="+listaDetalles[e].tratamiento+"&diente="+listaDetalles[e].idDiente+"&seccion="+listaDetalles[e].seccion+"&descripcion="+listaDetalles[e].comentario;
                $.ajax({
                    type: "POST",
                    url: detalle,
                    success:
                        function OnGetMemberSuccess(data) {

                        },
                    error: function OnGetMemberSuccess(data, status) {
                    }
                });
            }
            for(var i = 0; i <= listaDientes.length-1; i++){
                var id =listaDientes[i].idDiente;
                var nuevo = id;
                var ur = "http://"+config.ipAdress+"/server-odonto/DienteToExclinico/Insertar/"+carne+"/1?";
                ur+="idExamen="+idExamen;
                ur+="&idDiente="+listaDientes[i].idDiente;
                ur+="&extraccion="+listaDientes[i].extraccion;
                ur+="&ausente="+listaDientes[i].ausente;
                ur+="&zona1="+listaDientes[i].zona1;
                ur+="&zona2="+listaDientes[i].zona2;
                ur+="&zona3="+listaDientes[i].zona3;
                ur+="&zona4="+listaDientes[i].zona4;
                ur+="&zona5="+listaDientes[i].zona5;

                $.ajax({
                    type: "POST",
                    url: ur,
                    success:
                        function OnGetMemberSuccess(data) {

                        },
                    error: function OnGetMemberSuccess(data, status) {

                        alert('Segundo');

                        return false;//*********************************************
                    }
                });

            }
            return true;
        }


        function guardarBD() {
            if(config.consultaDatos===1){
                var tipo=config.tipo;
                if(tipo===0){
                    configPrimerExClinico($('#txt_extcarne').val(),0);
                    alert('Error, no se cargó correctamente la información del odontograma');
                }
                else if(tipo===2){
                    configPrimerExClinico($('#txt_extcarne').val(),0);
                }
                else if(tipo===3){
                    configPrimerExClinico($('#txt_extcarne').val(),1);
                    dialogs("mostrar","exito","¡ Proceso realizado satisfactoriamente !")
                }
                else{

                    actualizarListaDientes();
                    dialogs('mostrar','exito','¡ Actualización realizada exitosamente !');
                }
                obtenerPTratamientos();
                config.consultaDatos=0;
                listaDientes=[];
                listaDetalles=[];

            }
            else
                dialogs('mostrar','error','¡ Error ! No se ha cargado la información');
        }

        function actualizarListaDientes(){
            for(var e=0;e<listaDetalles.length;e++){
                var detalle = "http://"+config.ipAdress+"/server-odonto/InsPTratamientos?carne="+ $('#txt_extcarne').val() +"&tratamiento="+listaDetalles[e].tratamiento+"&diente="+listaDetalles[e].idDiente+"&seccion="+listaDetalles[e].seccion+"&descripcion="+listaDetalles[e].comentario;
                $.ajax({
                    type: "POST",
                    url: detalle,
                    success:
                        function OnGetMemberSuccess(data) {
                        },
                    error: function OnGetMemberSuccess(data, status) {
                        return false;
                    }
                });
            }

            for(var i=0;i<listaDientes.length;i++){
                var ur = "http://"+config.ipAdress+"/server-odonto/ExClinico/Actualizar?";
                ur+="carne="+$('#txt_extcarne').val();
                ur+="&idDiente="+listaDientes[i].idDiente;
                ur+="&extraccion="+listaDientes[i].extraccion;
                ur+="&ausente="+listaDientes[i].ausente;
                ur+="&zona1="+listaDientes[i].zona1;
                ur+="&zona2="+listaDientes[i].zona2;
                ur+="&zona3="+listaDientes[i].zona3;
                ur+="&zona4="+listaDientes[i].zona4;
                ur+="&zona5="+listaDientes[i].zona5;
                $.ajax({
                    type: "POST",
                    url: ur,
                    success:
                        function OnGetMemberSuccess(data) {

                        },
                    error: function OnGetMemberSuccess(data, status) {
                        alert(data);
                    //    break;
                    }
                });
            }
        }


        function Diente(idDiente,extraccionD,ausenteD,zona1,zona2,zona3,zona4,zona5) {
            this.idDiente = idDiente;
            this.extraccion = extraccionD;
            this.ausente = ausenteD;
            this.zona1=zona1;
            this.zona2=zona2;
            this.zona3=zona3;
            this.zona4=zona4;
            this.zona5=zona5;

        }
        function Detalle(comen,trata,idDie,bandera,secci) {
           this.comentario = comen;
           this.tratamiento = trata;
           this.idDiente = idDie;
           this.extraccion = bandera;
           this.seccion=secci;
        }
        var listaDetalles=[];
        var listaDientes = [];
        var listaPrueba = [ ];

        for(var i = 1; i<=32; i++){
            var diente = new Diente(i,-1,-1,1,1,1,1,1);
            var diente2 = new Diente(i,-1,1,1,1,2,1,1);
            listaDientes.push(diente);
            listaPrueba.push(diente2)
        }
        var numero = -1;
        // Valores iniciales
        var canvas = document.getElementById('myCanvas');
        var context = canvas.getContext('2d');

        var layer2 = document.getElementById("myCanvas2");
        var ctx2 = layer2.getContext("2d");

        var layer3 = document.getElementById("myCanvas3");
        var ctx3 = layer3.getContext("2d");

        var layer4 = document.getElementById("myCanvas4");
        var ctx4 = layer4.getContext("2d");
        var color_line = 'black';
        var bandera = -1;
        var medida = 40;
        var separacion_x = 10;
        var separacion_y = 10;
        var iniciar_x = 0;
        var iniciar_y = 20;
        //Dientes para el puente
        var diente1=0;
        var diente2=0;
        // 1 - 16 dientes
        var numPos=18;
        var boo=0;
        for (x=0; x<16; x++){
            iniciar_x =  (x*medida) + (separacion_x*x) + separacion_x;
            dibuja_contorno(context, iniciar_x, iniciar_y, medida, separacion_x, 10);
            /* Numero de diente */
            context.font = '10pt Calibri';
            context.textAlign = 'center';
            context.fillStyle = 'blue';

            if(x==8){
                boo=1
                numPos=21;
            }
            context.fillText(numPos, iniciar_x+(medida/2), (iniciar_y-10)+5);
            if(boo==0){
                numPos--;
            }
            else{
                numPos++;
            }
        }
        // 17 - 32 dientes
        iniciar_x = 0;
        iniciar_y = medida + 100;
        numPos=38;
        boo=0;
        for (x=0; x<16; x++){
            iniciar_x =  (x*medida) + (separacion_x*x) + separacion_x;
            dibuja_contorno(context, iniciar_x, iniciar_y, medida, separacion_x, 10);
            /* Numero de diente */
            context.font = '10pt Calibri';
            context.textAlign = 'center';
            context.fillStyle = 'blue';
            if(x==8){
                boo=1
                numPos=41;
            }
            context.fillText(numPos, iniciar_x+(medida/2), (iniciar_y-10)+5);
            if(boo==0){
                numPos--;
            }
            else{
                numPos++;
            }
        }


        function click(){
            //Añadimos un addEventListener al canvas para reconocer el click
            layer4.addEventListener("click",
                //Una vez se haya clickado se activará la siguiente función
                getPosition
                ,false);
            layer4.addEventListener("mousemove",Marcar,false);
        }
        function getPosition(event){

            var x = event.x;
            var y = event.y;
            //alert(y);
            //alert(x);
            var canvas = document.getElementById("myCanvas");
            var div_can = document.getElementById("canvasesdiv");
            x -= div_can.offsetLeft;
            y -= div_can.offsetTop;
            //alert(div_can.offsetTop);
            var div=0;
            var color='';
            var accion='';
            seleccion = $("input[name='accion']:checked").val();
            if (seleccion == 'carie'){
                color = 'red';
                accion = 'seccion';
            }
            else if (seleccion == 'resina'){
                color = 'green';
                accion = 'seccion';
            }
            else if(seleccion=='amalgama'){
                color = 'blue';
                accion = 'seccion';
            }
            else if(seleccion=='ausente'){
                color = 'black';
                accion = 'marcar';
                bandera  = 0;
            }
            else if(seleccion=='puente'){
                accion = 'puente';
            }
            else if(seleccion=='borrar'){
                accion = 'borrar';
            }
            else if(seleccion=='extraccion'){
                color = 'red';
                accion = 'marcar';
                bandera=1;
            }
            //alert(y);
            diente = 0;
            seccion = 0;
            if (y>=20 && y<=60){
                //alert(x);
                if (x>=10 && x<=50){
                    diente = 1;
                }
                else if (x>=60 && x<=800){
                    div =  parseInt(x/50,10);
                    ini = (div*40) + (10*div) + 10;
                    fin = ini + 40;
                    if (x>=ini && x<=fin){
                        diente=div+1;
                    }
                }
            }
            else if(y>=140 && y<=180){
                if (x>=10 && x<=50){
                    diente = 17;
                }
                else if (x>=60 && x<=800){
                    div =  parseInt(x/50,10);
                    ini = (div*40) + (10*div) + 10;
                    fin = ini + 40;
                    if (x>=ini && x<=fin){
                        diente=div+17;
                    }
                }
            }
            if (diente){
                //alert(diente);
                if(accion == 'seccion'){
                    x = x-((div*40) + (10*div) + 10);
                    y = y-20;
                    if (diente>16){
                        y = y-120;
                    }
                    //alert(y);
                    if (y>0 && y<10 && x>y && y<40-x){
                        seccion = 1;
                    }else if (x>30 && x<40 && y<x && 40-x<y){
                        seccion = 2;
                    }else if (y>30 && y<40 && x<y && x>40-y){
                        seccion = 3;
                    }else if (x>0 && x<10 && y>x && x<40-y){
                        seccion = 4;
                    }else if (x>10 && x<30 && y>10 && y<30){
                        seccion = 5;
                    }
                }else if(accion == 'marcar'){
                    cod=diente+'-0-'+'3';
                    if(cod && !localStorage.getItem(cod)){
                        new_array=[diente, 0, 3, Date.now(), 0];
                        guardar = new_array.toLocaleString();
                        localStorage.setItem(cod, guardar);

                        if(bandera == 0) {
                            bandera=-1;
                            marcar_ausente(ctx2, diente, 'black');

                        }
                        else if(bandera==1) {
                            bandera = -1;
                            marcar_extraccion(ctx2, diente, 'red');
                        }
                    }
                    else{
                        alert("Ya fue marcado");
                    }
                }else if(accion == 'puente'){
                    if (diente1==0){
                        marcar_diente(ctx4, diente, 'red');
                        diente1=diente;
                    }else if(diente2==0){
                        diente2=diente;
                        menor=0;
                        mayor=0;
                        if(diente1>diente2){
                            mayor=diente1;
                            menor=diente2;
                        }else{
                            mayor=diente2;
                            menor=diente1
                        }
                        diente1=menor;
                        diente2=mayor;
                        if ((diente1<17 && diente2<17 && diente1!=diente2) || (diente1>17 && diente2>17 && diente1!=diente2)){
                            marcar_diente(ctx4, diente, 'red');
                            ctx4.clearRect(0, 0, 810, 70);
                            ctx4.clearRect(0, 135, 810, 70);
                            cod=diente1+'-0-4-'+diente2;
                            if(cod && !localStorage.getItem(cod)){
                                new_array=[diente1, 0, 4, Date.now(), diente2];
                                guardar = new_array.toLocaleString();
                                localStorage.setItem(cod, guardar);
                            }else{
                                alert("Ya fue marcado");
                            }
                            marcar_puente(ctx4, diente1, diente2, 'red');
                        }else{
                            ctx4.clearRect(0, 0, 810, 70);
                            ctx4.clearRect(0, 135, 810, 70);
                        }

                        diente1=0;
                        diente2=0;
                    }
                }else if(accion == 'borrar'){
                    borrar_diente(ctx2, diente);
                    //cargar el ultimo pintado
                    seccion_chk = $("input[name='seccion']:checked").val();
                    if (seccion_chk=='seccion'){
                        x = x-((div*40) + (10*div) + 10);
                        y = y-20;
                        if (diente>16){
                            y = y-120;
                        }
                        seccion_b=ubica_seccion(x,y);
                        changeAtList(seccion_b,diente);
                        if (seccion_b){
                            ultimo = '';
                            key_cod='';
                            for(var i=0; i < localStorage.length; i++){
                                var key_name = localStorage.key(i);
                                item = localStorage.getItem(key_name);
                                item = item.split(',');
                                diente_comp = parseInt(item[0],10);
                                seccion_comp = parseInt(item[1],10);
                                accion_comp = parseInt(item[2],10);
                                if(diente_comp==diente && seccion_b==seccion_comp && (accion_comp==1 || accion_comp==2 || accion_comp==5)){
                                    for( var id in listaDientes) {
                                        if (listaDientes[id].idDiente == diente) {
                                            if(seccion_b==1) {
                                                listaDientes[id].zona1 = 1;
                                            }
                                            else if(seccion_b==2) {
                                                listaDientes[id].zona2 = 1;
                                            }
                                            else if(seccion_b==3) {
                                                listaDientes[id].zona3 = 1;
                                            }
                                            else if(seccion_b==4) {
                                                listaDientes[id].zona4 = 1;
                                            }
                                            else if(seccion_b==5) {
                                                listaDientes[id].zona5 = 1;
                                            }
                                        }
                                    }

                                    if(ultimo==''){
                                        ultimo=item;
                                        key_cod=key_name;
                                    }
                                    else{
                                        fecha_ult = parseInt(item[3],10);
                                        if(ultimo[3]<fecha_ult){
                                            ultimo=item;
                                            key_cod=key_name;
                                        }
                                    }
                                }
                            }
                            if(key_cod!=''){
                                localStorage.removeItem(key_cod);
                            }
                        }
                    }
                    else if(seccion_chk=='diente'){
                        for(var i=0;i<listaDetalles.length;i++){
                            if(listaDetalles[i].extraccion == 1 && listaDetalles[i].idDiente == diente){
                                listaDetalles.splice(i, 1);
                            }
                        }
                        for( var i = 0; i<=listaDientes.length-1;i++){
                            if(listaDientes[i].idDiente==diente) {
                                listaDientes[i].extraccion = -1;
                                listaDientes[i].ausente = -1;
                            }
                        }
                        ultimo = '';
                        key_cod='';
                        for(var i=0; i < localStorage.length; i++){
                            var key_name = localStorage.key(i);
                            item = localStorage.getItem(key_name);
                            item = item.split(',');
                            diente_comp = parseInt(item[0],10);
                            accion_comp = parseInt(item[2],10);
                            if(diente_comp==diente && accion_comp==3 ){
                                if(ultimo==''){
                                    ultimo=item;
                                    key_cod=key_name;
                                }
                                else{
                                    fecha_ult = parseInt(item[3],10);
                                    if(ultimo[3]<fecha_ult){
                                        ultimo=item;
                                        key_cod=key_name;
                                    }
                                }
                            }
                        }
                        if(key_cod!=''){
                            localStorage.removeItem(key_cod);
                        }
                    }
                    pinta_datos();
                }
            }
            if (seccion && color!=''){
                if (color=='red'){
                    cod=diente+'-'+seccion+'-'+'1';
                    accion_g = 1;
                }else if (color=='blue'){
                    cod=diente+'-'+seccion+'-'+'2';
                    accion_g = 2;
                }
                else if (color=='green'){
                    cod=diente+'-'+seccion+'-'+'5';
                    accion_g = 5;
                }
                if(cod && !localStorage.getItem(cod)){
                    new_array=[diente, seccion, accion_g, Date.now(), 0];
                    guardar = new_array.toLocaleString();
                    localStorage.setItem(cod, guardar);
                    dibuja_seccion(ctx2, diente, seccion, color);
                }
                else{
                    alert("Ya ha sido marcada.");
                }
            }
            if ( 'borrar' == $("input[name='accion']:checked").val()){
                if (x>=30 && x<=780 && ((y>78 && y<82) || (y>198 && y<202))){
                    //alert(x);
                    div =  parseInt(x/50,10);
                    //alert(div);
                    ultimo = '';
                    key_cod='';
                    for(var i=0; i < localStorage.length; i++){
                        var key_name = localStorage.key(i);
                        item = localStorage.getItem(key_name);
                        item = item.split(',');
                        diente1_comp = parseInt(item[0],10);
                        diente2_comp = parseInt(item[4],10);
                        accion_comp = parseInt(item[2],10);
                        if(accion_comp==4){
                            if (diente1_comp>16){
                                diente1_comp = diente1_comp - 17;
                                diente2_comp = diente2_comp - 17;
                            }else{
                                diente1_comp = diente1_comp - 1;
                                diente2_comp = diente2_comp - 1;
                            }
                            inicio_x = (diente1_comp*40) + (10*diente1_comp) + 10 + 20;
                            fin_X = (diente2_comp*40) + (10*diente2_comp) + 10 + 20;
                            if (x>=inicio_x && x<=fin_x){
                                if(ultimo==''){
                                    ultimo=item;
                                    key_cod=key_name;
                                }
                                else{
                                    fecha_ult = parseInt(item[3],10);
                                    if(ultimo[3]<fecha_ult){
                                        ultimo=item;
                                        key_cod=key_name;
                                    }
                                }
                            }

                        }
                    }
                    if(key_cod!=''){

                        if(parseInt(ultimo[0],10)<16){
                            seccion_p=1;
                            ctx4.clearRect(0, 0, 810, 130);
                        }
                        else{
                            ctx4.clearRect(0, 130, 810, 150);
                            seccion_p=2;
                        }
                        localStorage.removeItem(key_cod);
                        pinta_puentes(seccion_p);
                    }
                }

            }

        }

        function changeAtList(seccion,diente){
            for(var i=0;i<listaDetalles.length;i++){
                if(listaDetalles[i].idDiente == diente && listaDetalles[i].seccion == seccion)
                    listaDetalles.splice(i, 1);
            }

            for(var i=0;i<listaDientes.length;i++){
                if(listaDientes[i].idDiente===diente){
                    if(seccion===1){
                        listaDientes[i].zona1=1;
                    }
                    else if(seccion===2){
                        listaDientes[i].zona2=1;
                    }
                    else if(seccion===3){
                        listaDientes[i].zona3=1;
                    }
                    else if(seccion===4){
                        listaDientes[i].zona4=1;
                    }
                    else if(seccion===5){
                        listaDientes[i].zona5=1;
                    }
                    break;
                }
            }

        }

        //dibuja_seccion(x, y, 5, 5);
        //dibuja_seccion(context, num_diente, seccion, color)
        // 0 -> PRIMER EXÁMEN
        //1 -> SEGUNDO O MÁS EXÁMEN
        function Marcar(event){
            var x = event.x;
            var y = event.y;
            var canvas2 = document.getElementById("myCanvas2");
            var div_can = document.getElementById("canvasesdiv");
            x -= div_can.offsetLeft;
            y -= div_can.offsetTop;
            //alert(x);
            diente=0;
            seccion=0;
            var div=0;
            if (y>=20 && y<=60){
                if (x>=10 && x<=50){
                    diente = 1;
                }
                else if (x>=60 && x<=800){
                    div =  parseInt(x/50,10);
                    ini = (div*40) + (10*div) + 10;
                    fin = ini + 40;
                    if (x>=ini && x<=fin){
                        diente=div+1;
                    }
                }
            }
            else if(y>=140 && y<=180){
                if (x>=10 && x<=50){
                    diente = 17;
                }
                else if (x>=60 && x<=800){
                    div =  parseInt(x/50,10);
                    ini = (div*40) + (10*div) + 10;
                    fin = ini + 40;
                    if (x>=ini && x<=fin){
                        diente=div+17;
                    }
                }
            }
            //alert(diente);
            if (diente) {
                accion = $("input[name='accion']:checked").val();
                var seleccion = '';
                if (accion == 'carie'){
                    seleccion = 'seccion';
                }
                else if (accion == 'resina'){
                    seleccion = 'seccion';
                }
                else if(accion=='amalgama'){
                    seleccion = 'seccion';
                }
                else if(accion=='ausente'){
                    seleccion = 'diente';
                }
                else if(accion=='extraccion'){
                    seleccion = 'diente';
                }
                else if(accion=='puente'){
                    seleccion = 'diente';
                }
                else if(accion=='borrar'){
                    seccion_chk = $("input[name='seccion']:checked").val();
                    if (seccion_chk=='diente'){
                        seleccion = 'diente';
                    }
                    else{
                        seleccion = 'seccion';
                    }
                }
                if (seleccion=='seccion'){
                    x = x-((div*40) + (10*div) + 10);
                    y = y-20;
                    if (diente>16){
                        y = y-120;
                    }
                    //alert(y);
                    /*if (y>=x && y<=39){}*/
                    // Ubicar la seccion clickeada
                    if (y>0 && y<10 && x>y && y<40-x){
                        seccion = 1;
                    }else if (x>30 && x<40 && y<x && 40-x<y){
                        seccion = 2;
                    }else if (y>30 && y<40 && x<y && x>40-y){
                        seccion = 3;
                    }else if (x>0 && x<10 && y>x && x<40-y){
                        seccion = 4;
                    }else if (x>10 && x<30 && y>10 && y<30){
                        seccion = 5;
                    }
                    //Comprobacion de si eta en una seccion
                    if (seccion){
                        //alert(seccion);
                        color = 'yellow';
                        ctx3.clearRect(0, 0, 810, 300);
                        marcar_seccion(ctx3, diente, seccion, color);
                        //contexto, id, zona, color_pas
                        //alert(seccion);
                    }else{
                        //ctx2.fillStyle = "white";
                        //ctx2.fillRect(0, 0, 810, 300);
                        ctx3.clearRect(0, 0, 810, 300);
                    }
                }
                else if(seleccion=='diente'){
                    ctx3.clearRect(0, 0, 810, 300);
                    marcar_diente(ctx3, diente, 'yellow');
                }
            }else{
                ctx3.clearRect(0, 0, 810, 300);
            }

            //dibuja_contorno(canvas, inicio_x, inicio_y, med, separacion_x, separacion_y)
        }
        function pinta_datos(){
            array_local = [];
            for(var i=0; i < localStorage.length; i++){
                var key_name = localStorage.key(i);
                array_local[i]=localStorage.getItem(key_name).split(',');
            }
            array_local.sort(function(a,b){
                return a[3] > b[3]; // orden ascendente por las fechas;
            });

            for(var i=0; i < array_local.length; i++){
                item = array_local[i];
                if(parseInt(item[0],10)==diente){
                    acc = parseInt(item[2],10);
                    //console.log(acc);
                    if (acc==1){
                        color='red';
                        dibuja_seccion(ctx2, item[0], item[1], color);
                    }else if (acc==2){
                        color='blue';
                        dibuja_seccion(ctx2, item[0], item[1], color);
                    }
                    else if (acc==5){
                        color='green';
                        dibuja_seccion(ctx2, item[0], item[1], color);
                    }
                    else if (acc==3){
                        marcar_ausente(ctx2, item[0], color);
                    }
                }
            }
        }
        function drawText(listaPrueba){
            for(var i=0; i < listaPrueba.length; i++){
                item = listaPrueba[i];
                var id=item.idDiente;
                var nuevo = id;

                ///zona 1

                if(item.zona1==2) {
                    seleccion = 'carie';
                    dibuja_seccion(ctx2, nuevo, 1, 'red');
                }
                else if(item.zona1==3){
                    seleccion = 'amalgama';
                    dibuja_seccion(ctx2, nuevo, 1, 'blue');
                }
                else if(item.zona1==4){
                    seleccion='resina';
                    dibuja_seccion(ctx2, nuevo, 1, 'green');
                }
                //zona 2
                if(item.zona2==2) {
                    seleccion = 'carie';
                    dibuja_seccion(ctx2,nuevo, 2, 'red');
                }
                else if(item.zona2==3){
                    seleccion = 'amalgama';
                    dibuja_seccion(ctx2, nuevo, 2, 'blue');
                }
                else if(item.zona2==4){
                    seleccion='resina';
                    dibuja_seccion(ctx2,nuevo, 2, 'green');
                }

                //zona 3


                if(item.zona3==2) {
                    seleccion = 'carie';
                    dibuja_seccion(ctx2, nuevo, 3, 'red');
                }
                else if(item.zona3==3){
                    seleccion = 'amalgama';
                    dibuja_seccion(ctx2, nuevo, 3, 'blue');
                }
                else if(item.zona3==4){
                    seleccion='resina';
                    dibuja_seccion(ctx2,nuevo, 3, 'green');
                }
                //zona 4

                if(item.zona4==2) {
                    seleccion = 'carie';
                    dibuja_seccion(ctx2, nuevo, 4, 'red');
                }
                else if(item.zona4==3){
                    seleccion = 'amalgama';
                    dibuja_seccion(ctx2,nuevo, 4, 'blue');
                }
                else if(item.zona4==4){
                    seleccion='resina';
                    dibuja_seccion(ctx2,nuevo, 4, 'green');
                }
                //zona 5
                if(item.zona5==2) {
                    seleccion = 'carie';
                    dibuja_seccion(ctx2, nuevo, 5, 'red');
                }
                else if(item.zona5==3){
                    seleccion = 'amalgama';
                    dibuja_seccion(ctx2, nuevo, 5, 'blue');
                }
                else if(item.zona5==4){
                    seleccion='resina';
                    dibuja_seccion(ctx2,nuevo, 5, 'green');
                }
                if(item.extraccion == 1){
                    marcar_extraccion(ctx2,nuevo,'greem')
                }
                else if(item.ausente == 1){
                    marcar_ausente(ctx2,nuevo,'greem')
                }
            }
        }

       // la variable tipo si es 0 es porque se va a insertar como primer exámen clínico,
       // 1 si es el segundo( el que se va actualizando en el proceso)
       function configPrimerExClinico(carne,num){
            for(var e=0;e<listaDetalles.length;e++){
                var detalle = "http://"+config.ipAdress+"/server-odonto/InsPTratamientos?carne="+ $('#txt_extcarne').val() +"&tratamiento="+listaDetalles[e].tratamiento+"&diente="+listaDetalles[e].idDiente+"&seccion="+listaDetalles[e].seccion+"&descripcion="+listaDetalles[e].comentario;
                $.ajax({
                    type: "POST",
                    url: detalle,
                    success:
                        function OnGetMemberSuccess(data) {
                        },
                    error: function OnGetMemberSuccess(data, status) {
                        return false;
                    }
                });
            }
            var ur="http://"+config.ipAdress+"/server-odonto/ExClinico/Insertar";
            var object="?idExamen=1&carne="+carne+"&fecha='sin'&descripcion='sd'&tipo="+num;
            config.saveLista=listaDientes;
            $.ajax({
                type: "POST",
                url: ur+object,
                success:
                    function OnGetMemberSuccess(data) {
                        config.idExamen=data;


                        if(insertarDientes(data,$('#txt_extcarne').val())==false){
                            alert("Error en el servidor, verifique la conexión");
                        }
                        else{alert('Operación realizada satisfactoriamente');}
                    },
                error: function OnGetMemberSuccess(data, status) {}
            });

        }


       function viewFirstOdontogram(){
            if($('#txt_extcarne').val()==""){
                dialogs('mostrar','error','¡ Error ! Debe ingresar el carne del estudiante');
            }
            else{
                $.ajax({
                    type: "GET",
                    url: "http://"+config.ipAdress+"/server-odonto/searchExamenClinico/"+$('#txt_extcarne').val(),
                    success:
                        function OnGetMemberSuccess(data) {
                            var listaExamen=[];
                            var seguir=0;
                            var ur = "http://"+config.ipAdress+"/server-odonto/ObtenerECFE/"+$('#txt_extcarne').val()+"/0";
                            $.ajax({
                                type: "GET",
                                url: ur,
                                success:
                                    function OnGetMemberSuccess(data) {
                                        listaExamen=data;
                                        if(data.length===0){
                                            dialogs('mostrar','error','¡ Error ! El estudiante no registra ningpun odontograma.');
                                        }
                                        else{
                                            seguir=1;
                                            drawText(listaExamen);
                                            obtenerPTratamientos();
                                        }
                                    },
                                error: function OnGetMemberSuccess(data, status) {
                                    console.log(data);
                                }
                            });
                        },
                    error: function OnGetMemberSuccess(data, status) {
                        console.log(data);
                    }
                });
            }
       }


       function pinta_datos_BD2(){
            $('#notify').css('display', 'none');
            if($('#txt_extcarne').val()==""){
                dialogs('mostrar','error','¡ Error ! Debe ingresar el carne del estudiante');
            }
            else{
                $.ajax({
                    type: "GET",
                    url: "http://"+config.ipAdress+"/server-odonto/searchExamenClinico/"+$('#txt_extcarne').val(),
                    success:
                        function OnGetMemberSuccess(data) {
                            if(data==="1"){
                                dialogs('mostrar','exito','No existe estudiante');
                            }
                            else if(data==="2"){// como es primerizo no debe hacer la inserción hasta que no se le de a guardar
                                config.tipo=2;
                                dialogs('mostrar','exito','El estudiante es primerizo');
                            }
                            else if(data==="3"){// primer inserción en la tabla de exámen clínico-> segunda cita
                                config.tipo=3;
                                obtenerPTratamientos();
                                dialogs('mostrar','exito','El estudiante está realizando la segunda cita');
                            }
                            else{// es un update de dientes lo que se va a realizar
                                config.tipo=4;
                                obtenerPTratamientos();
                                dialogs('mostrar','exito','Información cargada exitosamente');
                            }
                            var ur = "http://"+config.ipAdress+"/server-odonto/ObtenerECFE/"+$('#txt_extcarne').val();

                            if(data=="3"  | data=="4"){
                                if(data=="3"){
                                    ur+="/0";
                                }
                                else{
                                    ur+="/1";
                                }
                                var listaExamen=[];
                                var seguir=0;
                                $.ajax({
                                    type: "GET",
                                    url: ur,
                                    success:
                                        function OnGetMemberSuccess(data) {
                                            listaDientes=data;
                                            //console.log(listaDientes);
                                            listaExamen=data;
                                            seguir=1;
                                            drawText(data);
                                        },
                                    error: function OnGetMemberSuccess(data, status) {
                                        console.log("Ojooooooo");
                                        console.log(ur);
                                        console.log(data);
                                    }
                                });
                            }
                        },
                    error: function OnGetMemberSuccess(data, status) {
                        console.log(data);
                    }
                });
                config.consultaDatos=1;
            }
       }

       function obtenerPTratamientos() {
            $('#PTInfo').empty();
            var ur="http://"+config.ipAdress+"/server-odonto/PTratamientos/"+$('#txt_extcarne').val();
            $.ajax({
                type: "GET",
                url: ur,
                success:
                    function OnGetMemberSuccess(dato) {
                        var data=dato;
                        config.arrayM=data;
                        var valuesToAdd="";
                        valuesToAdd+='<section style="padding: 20px;"><table id="myTable" class="table table-bordered"><thead><tr><th >Fecha</th><th>Tratamiento</th><th>Pieza</th><th>Comentario</th></tr></thead><tbody style="font-family: Lucida Sans Unicode"><tr>';
                        for(var i=0;i<data.length;i++){
                            var valor = "-"+data[i].desc+"-";
                            var dienteN= convertirDiente(data[i].pieza);
                            valuesToAdd+='<tr>';
                            valuesToAdd+='<td>'+ data[i].fecha+ '</td><td>'+ data[i].tratamiento+'</td><td>'+dienteN+'</td><td><button data-toggle="modal" data-target="#showModalDtail" onclick="showDesc('+ data[i].id+ ')" type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-comment"></span></button></td>';
                            valuesToAdd+='</tr>';
                        }
                        valuesToAdd+='</tr></tbody></table></section>';
                        $('#PTInfo').append(valuesToAdd);
                    },
                error: function OnGetMemberSuccess(data, status) {
                }
            });
       }

       function showDesc(value){
            var arr=config.arrayM;
            var texto="";
            for(var i=0;i<arr.length;i++){
                if(arr[i].id===value){
                    texto=arr[i].desc;
                    break;
                }
            }
            document.getElementById("comentarioX").value = texto;
       }

       function pinta_datos_BD(){
            for(var i=0; i < listaPrueba.length; i++){
                item = listaPrueba[i];
                var id = listaDientes[i].idDiente;
                var nuevo = -1;
                if(id>=1 && id<=8){
                    nuevo = -id +19;
                }
                else if(id>=9 && id<=16) nuevo = id +12;
                else if(id>=17 && id<=24) nuevo = -id + 55;
                else if(id>=25 && id<=32) nuevo = id +16;

                ///zona 1

                if(item.zona1==2) {
                    seleccion = 'carie';
                    dibuja_seccion(ctx2, nuevo, 1, 'red');
                }
                else if(item.zona1==3){
                    seleccion = 'amalgama';
                    dibuja_seccion(ctx2, nuevo, 1, 'blue');
                }
                else if(item.zona1==4){
                    seleccion='resina';
                    dibuja_seccion(ctx2, nuevo, 1, 'green');
                }
               //zona 2
                if(item.zona2==2) {
                    seleccion = 'carie';
                    dibuja_seccion(ctx2, nuevo, 2, 'red');
                }
                else if(item.zona2==3){
                    seleccion = 'amalgama';
                    dibuja_seccion(ctx2, nuevo, 2, 'blue');
                }
                else if(item.zona2==4){
                    seleccion='resina';
                    dibuja_seccion(ctx2, nuevo, 2, 'green');
                }
                //zona 3
                if(item.zona3==2) {
                    seleccion = 'carie';
                    dibuja_seccion(ctx2, nuevo, 3, 'red');
                }
                else if(item.zona3==3){
                    seleccion = 'amalgama';
                    dibuja_seccion(ctx2, nuevo, 3, 'blue');
                }
                else if(item.zona3==4){
                    seleccion='resina';
                    dibuja_seccion(ctx2, nuevo, 3, 'green');
                }
                //zona 4

                if(item.zona4==2) {
                    seleccion = 'carie';
                    dibuja_seccion(ctx2,nuevo, 4, 'red');
                }
                else if(item.zona4==3){
                    seleccion = 'amalgama';
                    dibuja_seccion(ctx2, nuevo, 4, 'blue');
                }
                else if(item.zona4==4){
                    seleccion='resina';
                    dibuja_seccion(ctx2,nuevo, 4, 'green');
                }
                //zona 5
                if(item.zona5==2) {
                    seleccion = 'carie';
                    dibuja_seccion(ctx2,nuevo, 5, 'red');
                }
                else if(item.zona5==3){
                    seleccion = 'amalgama';
                    dibuja_seccion(ctx2,nuevo, 5, 'blue');
                }
                else if(item.zona5===4){
                    seleccion='resina';
                    dibuja_seccion(ctx2,nuevo, 5, 'green');
                }
                if(item.extraccion === 1) marcar_extraccion(ctx2,nuevo,'greem');
                else if(item.ausente === 1) marcar_ausente(ctx2,nuevo,'greem');
            }
       }
       function pinta_puentes(seccion_p){
            array_local = [];
            for(var i=0; i < localStorage.length; i++){
                var key_name = localStorage.key(i);
                array_local[i]=localStorage.getItem(key_name).split(',');
            }
            //console.log(array_local);
            array_local.sort(function(a,b){
                return a[3] > b[3]; // orden ascendente por las fechas;
            });
            //console.log(array_local);
            for(var i=0; i < array_local.length; i++){
                item = array_local[i];
                acc = parseInt(item[2],10);
                //console.log(acc);
                if (acc==4){
                    color_pas = 'red';
                    if (seccion_p==1){
                        if(parseInt(item[0],10)<17){
                            marcar_puente(ctx4, item[0], item[4], color_pas);
                        }
                    }
                    else{
                        if(parseInt(item[0],10)>16){
                            marcar_puente(ctx4, item[0], item[4], color_pas);
                        }
                    }
                }
            }
       }
       function ubica_seccion(X,Y){
            y=Y;
            x=X;
            seccion=0;
            if (y>0 && y<10 && x>y && y<40-x)
                seccion = 1;
            else if (x>30 && x<40 && y<x && 40-x<y)
                seccion = 2;
            else if (y>30 && y<40 && x<y && x>40-y)
                seccion = 3;
            else if (x>0 && x<10 && y>x && x<40-y)
                seccion = 4;
            else if (x>10 && x<30 && y>10 && y<30)
                seccion = 5;

            return seccion;
       }
    </script>
    </div>
    </div>
</div>