#modal{
    float: left; margin-left: 50px;
    margin-top: 20px;
}
#content{
    margin-left: 8px;
    margin-right: 8px;
}
#myModal{

    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header {
    padding: 2px 16px;
    background-color: #180e5b;
    color: white;
    text-decoration-color: white;
}

tbody{
    font-family: 'Lucida Sans Unicode';
}

#close{

    color: white;
}

.inputLarge{
    width: 70%;
}

h4{
    text-align: center;
}

.btn-primary {
    color: #fff;
    background-color: #180e5b;
}