﻿<!DOCTYPE html>
<html ng-app="userModule">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>Odontología TEC</title>
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="crossorigin="anonymous"></script>
        <link rel="icon" href="../favicon.ico" type="image/x-icon">
        <!-- Angular-ui-calendar -->
        <link rel="stylesheet" href="../bower_components/fullcalendar/dist/fullcalendar.css"/>
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
        <!-- Bootstrap Core Css -->
        <link href="../plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Waves Effect Css -->
        <link href="../plugins/node-waves/waves.css" rel="stylesheet" />
        <!-- Animation Css -->
        <link href="../plugins/animate-css/animate.css" rel="stylesheet" />
        <!-- Preloader Css -->
        <link href="../plugins/material-design-preloader/md-preloader.css" rel="stylesheet" />
        <!-- Custom Css -->
        <link href="../assets/css/style.css" rel="stylesheet">
        <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
        <link href="../assets/css/themes/theme-blue.css" rel="stylesheet" />
        <link rel="stylesheet" href="../assets/css/mediaQueries.css">
        <link rel="stylesheet" href="../alertify/css/alertify.css" />
        <!-- Carga libreria Bootstrap.-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body class="theme-blue">
        <div class="page-loader-wrapper">
            <div class="loader">
                <div class="md-preloader pl-size-md">
                    <svg viewbox="0 0 75 75">
                        <circle cx="100.5" cy="37.5" r="33.5" class="pl-red" stroke-width="4" />
                    </svg>
                </div>
                <p>Please wait...</p>
            </div>
        </div>
        <div class="overlay"></div>
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                    <a href="javascript:void(0);" class="bars"></a>
                    <a class="navbar-brand " ><img src="../assets/images/TEC.130212023_std.png"></a>
                </div>
            </div>
        </nav>

        <!-- #Top Bar -->
        <!-- Se enlaza el controller al sidebar -->
        <!-- en el se encuentran los datos de usuario que aparecen en el sidebar -->
        <section ng-controller="mainCtrl">
            <!-- Left Sidebar -->
            <aside id="leftsidebar" class="sidebar">
                <!-- Informacion del usuario -->
                <div class="user-info ">
                    <div class="image ">
                        <img src="../assets/images/user.png" width="35" height="35" alt="User" />
                    </div>
                    <div class="info-container">
                        <!-- Menu de cierre de session -->
                        <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user}}</div>
                        <div class="email">{{email}}</div>
                    </div>

                </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul style="margin-top: 11px;" class="list">
                    <li class="header ">MENU PRINCIPAL </li>
                    <li class="tecTitles">
                        <a href="#/user" onclick="closeSideBar()">
                            <i class="material-icons">alarm</i>
                            <span>Citas</span>
                        </a>
                    </li>
                    <li class="tecTitles">
                        <a href="#/user/ConfigCitas" onclick="closeSideBar()">
                            <i class="material-icons">build</i>
                            <span>Config. Citas</span>
                        </a>
                    </li>
                    <li class="tecTitles">
                        <a href="#/user/Enfermedad" onclick="closeSideBar()">
                            <i class="material-icons">favorite</i>
                            <span>Enfermedad</span>
                        </a>
                    </li>
                    <li class="tecTitles">
                        <a href="#/user/Administrador" onclick="closeSideBar()">
                            <i class="material-icons">face</i>
                            <span>Administradores</span>
                        </a>
                    </li>
                    <li class="tecTitles">
                        <a id="exa" name = "exa" href="#/user/Examen" onclick="closeSideBar()">
                            <i class="material-icons">note</i>
                            <span>Examen Clinico</span>
                        </a>
                    </li>
                    <li class="tecTitles">
                        <a href="#/user/Estudiantes" onclick="closeSideBar()">
                            <i class="material-icons">note</i>
                            <span>Estudiantes</span>
                        </a>
                    </li>
                    <li class="tecTitles">
                        <a href="#/user/Estadisticas" onclick="closeSideBar()">
                            <i class="material-icons">note</i>
                            <span>Estadísticas</span>
                        </a>
                    </li>
                </ul>
            </div>

                <!-- #Menu -->
                <!-- Footer -->
                <div class="legal">
                    <div class="copyright">
                        &copy; 2018 <a href="javascript:void(0);">Gestion Citas Odontologia</a>.
                        <img style="width: 65px; height: 65px" src="../assets/images/logo.png">
                    </div>
                    <div class="version">
                        <b>Powered by: </b>Roberto Salazar & Leidy Chacón & Royland Solis
                    </div>
                </div>
                <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
    </section>
    <!-- Contenedor en el que se insertaran las vistas del ng-route -->
    <section class="content" ng-view=""></section>
    <!-- Dependencias de angular  -->
    <script type="text/javascript" src="../bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-route/angular-route.min.js"></script>
    <script src="../shared/common.js"></script>
    <!-- app Js -->
    <script src="app.js"></script>
    <!-- services -->
    <script src="services.js"></script>
    <script src="controllers/mainCtrl.js"></script>
    <script src="controllers/dashboardCtrl.js"></script>
    <script src="Enfermedades/js/enfermedadCtrl.js"></script>
    <script src="Estadisticas/controller/estadisticasCtrl.js"></script>
    <script src="controllers/administradorCtrl.js"></script>
    <script src="Citas/controller/controller.js"></script>
    <script src="ConfigCitas/controller/controller.js"></script>
    <script src="Estudiantes/controller/Estudiantes.js"></script>
    <script src="controllers/examenCtrl.js"></script>
    <script src="../plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../GlobalVars.js"></script>
    <!-- Bootstrap Core Js -->
    <script src="../plugins/bootstrap/js/bootstrap.js"></script>
    <!-- Select Plugin Js -->
    <script src="../plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <!-- Slimscroll Plugin Js -->
    <script src="../plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- JQuery Steps Plugin Js -->
    <script src="../plugins/jquery-steps/jquery.steps.js"></script>
    <script src="../assets/js/pages/forms/form-wizard.js"></script>
    <link type="text/css" href="ExamenClinico/css/custom-theme/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
    <!--<link type="text/css" href="ExamenClinico/css/cur438.cur" rel="stylesheet" />-->
    <script type="text/javascript" src="ExamenClinico/js/jquery-ui-1.8.13.custom.min.js"></script>
    <!-- Waves Effect Plugin Js -->
    <script src="../plugins/node-waves/waves.js"></script>
    <!-- Custom Js -->
    <script src="../assets/js/admin.js"></script>
</body>
</html>