<div class="container-fluid">
    <article class="row" style="font-family: 'Lucida Sans Unicode'">
        <h2>Listado de administradores</h2>
    </article>
    <hr style="height: 2px; background-color: #333">
    <div class="panel panel-default">
        <div class="panel-body" >
            <div class="row">
                <section style="margin-left: 8px;margin-right: 8px;">
                    <div style="float: left">
                        <div style="float: left; margin-left: 50px;margin-top: 20px;">
                            <section><a data-toggle="modal" data-target="#myModal" style="color: #00733e;">Agregar administrador</a></section>
                        </div>
                    </div>
                </section>
            </div>
            <div class="row">
                <section style="padding: 20px;">
                    <table id="myTable" class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Cédula</th>
                            <th>Dirección</th>
                            <th>Teléfono</th>
                            <th>Email</th>
                            <th>Tipo</th>
                            <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody style="font-family: 'Lucida Sans Unicode'">
                        <tr ng-repeat="admin in administradores" >
                            <td>{{admin.nombre}}</td>
                            <td>{{admin.cedula}}</td>
                            <td>{{admin.direccion}}</td>
                            <td>{{admin.telefono}}</td>
                            <td>{{admin.email}}</td>
                            <td>{{admin.tipo}}</td>
                            <td class="text-center">
                                <button class="btn btn-default edit-administrador" id="editDatos" data-toggle="modal" data-target="#editFormModal" ng-click="editarAdministrador(admin)">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                                <button class="btn btn-danger delete-administrador"  id="deleteDatos" ng-click="deleteAdministrador(admin.cedula)"  ><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabelAdd">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-line"  id="nombre" name="nombre">
                    </div>
                    <div class="form-group">
                        <label>Cedula</label>
                        <input class="form-line" id="cedula" name="cedula">
                    </div>
                    <div class="form-group">
                        <label>Direccion</label>
                        <input class="form-line"  id="direccion"  name="direccion">
                    </div>
                    <div class="form-group">
                        <label>Teléfono</label>
                        <input class="form-line"  id="telefono"  name="telefono">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-line"  id="email"  name="email">
                    </div>
                    <div class="form-group">
                        <label>Tipo</label>
                        <input class="form-line"  id="tipo"  name="tipo">
                    </div>
                    <div class="form-group">
                        <label>Contraseña</label>
                        <input class="form-line"  id="contrasenna"  name="contrasenna">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" ng-click="setAdministradores()" id="ins" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="editFormModal" tabindex="-1" role="dialog" aria-labelledby="editFormModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post">
                <input type="hidden" id="edit-form-id" name="id">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabelEdit">Modificar administrador</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" name="edit-form-nombre" id="edit-form-nombre">
                    </div>
                    <div class="form-group">
                        <label>Cédula</label>
                        <textarea class="form-control" name="edit-form-cedula" id="edit-form-cedula"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Dirección</label>
                        <textarea class="form-control" name="edit-form-direccion" id="edit-form-direccion"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Teléfono</label>
                        <input type="text" class="form-control" name="edit-form-telefono" id="edit-form-telefono">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <textarea class="form-control" name="edit-form-email" id="edit-form-email"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Tipo</label>
                        <textarea class="form-control" name="edit-form-tipo" id="edit-form-tipo"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary"   ng-click="editAdministradores()" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>