<link href="../users/Enfermedades/css/style.css" rel="stylesheet">
<div class="container-fluid">
    <article class="row" style="font-family: 'Lucida Sans Unicode'">
        <h2 class="clase">Listado de enfermedades</h2>
    </article>
    <hr style="height: 2px; background-color: #333">
    <div class="panel panel-default">
        <div class="panel-body" >
            <div class="row">
                <section id="content">
                    <div style="float: left">
                        <div id="modal">
                            <section><a data-toggle="modal" data-target="#myModal">Agregar nueva enfermedad</a></section>
                        </div>
                    </div>
                </section>
            </div>
            <div class="row">
                <section style="padding: 20px;">
                    <table id="myTable" class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Enfermedad</th>
                            <th>Descripcion</th>
                            <th>Tratamiento</th>
                            <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="enfermedad in listaEnfermedades" >
                            <td>{{enfermedad.Enfermedad}}</td>
                            <td>{{enfermedad.descripcion}}</td>
                            <td>{{enfermedad.tratamiento}}</td>
                            <td class="text-center">
                                <button class="btn btn-default edit-enfermedad" id="editDatos" data-toggle="modal" data-target="#editFormModal" ng-click="editarEnfermedad(enfermedad)">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                                <button class="btn btn-danger delete-enfermedad"  id="deleteDatos"
                                        ng-click="deleteEnfermedad(enfermedad)"  ><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel">
    <div class="modal-dialog model lg" role="document">
        <div class="modal-content">
            <form method="post">
                <div class="modal-header">
                    <button id="close" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabelAdd">Agregar Enfermedad</h4>
                </div>
                <br>
                <br>
                <div class="modal-body">
                    <div class="form-group">
                        <input class="inputLarge" placeholder="Enfermedad"  ng-model="enf" id="enfermedad" name="enfermedad">
                    </div>
                    <div class="form-group">
                        <input class="inputLarge" placeholder="Descripción" ng-model="des" id="descripcion">
                    </div>
                    <div class="form-group">
                        <input class="inputLarge" placeholder="Tratamiento" ng-model="tr" id="tratamiento" name="tratamiento">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <input type="submit" data-dismiss="modal" class="btn btn-primary" ng-click="guardarEnfermedad()" id="save" value="Guardar">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="editFormModal" tabindex="-1" role="dialog" aria-labelledby="editFormModalLabel">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <form method="post">
            <input type="hidden" id="edit-form-id" name="id">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabelEdit">Modificar Enfermedad</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Enfermedad</label>
                    <input type="text" class="form-control" name="edit-form-enfermedad" id="edit-form-enfermedad">
                </div>
                <div class="form-group">
                    <label>Descripcion</label>
                    <textarea class="form-control" name="edit-form-descripcion" id="edit-form-descripcion"></textarea>
                </div>
                <div class="form-group">
                    <label>Tratamiento</label>
                    <textarea class="form-control" name="edit-form-tratamiento" id="edit-form-tratamiento"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <input data-dismiss="modal" type="submit" class="btn btn-primary"   ng-click="editEnfermedades()" value="Guardar">
            </div>
        </form>
    </div>
</div>
</div>
